a{
    color:#666;
}
h1{
    color: green;
}
span[id*="sz"]
{
    letter-spacing: 2px;
}
*:focus{
    background-color: #666;
}
* :only-child{
    background-color: yellow;
}
label{
    background-color: lightgreen;
}
input{
border:1px solid blue;
}
ul:first-of-type{
    border: 2px dotted gray;
}
ul>li:nth-child(even){
    color: red;
}
select>h1:last-child{
    background-color: green;
}
p:only-of-type{
    background-color: lightblue;
}