body{
    background-image: url(nyirfa.jpg);
    background-repeat: repeat-y;
    margin-left: 210px;
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h1, h2{
    color:#2c641b
}