.sárga
{
    color: blue;
}

#harmadik
{
    color: red;
}
#negyedik
{
    color: blue;
}
.p
{
    text-emphasis: none;
}
figure
{
    border: blue thick double;
    background-color: lightcyan;
    color: darkblue;
    
}