.mezo{
    padding: 10px 0;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 250px;
    transition-duration: 0.4s;
    box-shadow: lightgray 3px 2px 3px;
    cursor: pointer;
    border-radius: 15px;
}
li{
    left: 50px;
    text-align: right;
}
body{
    background-image: linear-gradient(white, lightgray );
}
legend{
    border-radius: 5px;
    padding: 2px;
}
@media screen {
    html{
        font-size: 110%;
    }
} 
@media screen {
    html{
        font-size: 120%;
    }
}
@media screen {
    html{
        font-size: 130%;
    }
}