body{
    background: rgb(60,60,60);
}
.tipp{
    background: rgb(4,104,235);
    padding: 110px 70px 60px 70px;
    position: absolute;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
    border-radius:10px;
}
.tippek{
    display: flex;
    justify-content: center;
    align-items:center;
}

.tippgomb{
    position: absolute;
    width: 970;
    height: 50px;
    font-size: 2rem;
    font-family: sans-serif;
    left:24.2%;
    top: 52%;
    background: rgb(235,89,4);
    color: white;
    font-weight: bolder;
    border:none;
    cursor:pointer;
    transition: 0.3s;
}
#userHeader{
    left: 43%;
    top:17%;
}
#resultHeader{
    left: 49%;
    top: 60%;
}
#mainHeader{
    left: 35%;
    font-size: 3rem;
}