html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}
h1, h2 {
    text-transform: uppercase;
}

.container > * {
    padding: 20px;
}
.container {
    color: white;
    font-family: helvetica, arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main right right'
        'menu footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    font-size: 30px;
}

header {
    background: lightskyblue;
    grid-column: 1 / 13;
}
main {
    background: gainsboro;
    grid-column: 4 / 10;
}
nav {
    background: azure;
    grid-column: 1 / 4;
}
aside {
    background: lightseagreen;
    grid-column: 10 / 13;
}
main, nav, aside {
    grid-row: 2 / 4;
}
footer {
    background: lightblue;
    grid-column: 1 / 13;
}
a{
    background-color: beige;
    border-radius: 20px 0;
    text-decoration: underline;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
@media all and (max-width:1200px){
    #gallery{
        background-color: rgba(0,0,0,0,1);
        display: grid;
        height: auto;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: auto;
        grid-gap: 1rem ;
    }
    span{
        flex-direction: column;
        text-align: center;
    }
    html{
        font-size: 110%
    }
    nav li{
        flex-basis:120%;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    nav ul{
        flex-wrap: wrap;
    }

    nav li{
        flex: 1 1 50%;
    }
}
@media (orientation: landscape) and (max-width:992px){
    #gallery{
        background-color: rgba(0,0,0,0,1);
        display: grid;
        height: auto;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: auto;
        grid-gap: 1rem ;
    }
    span{
        flex-direction: column;
        text-align: center;
    }
    html{
        font-size: 110%
    }
    nav li{
        flex-basis:120%;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    nav ul{
        flex-wrap: wrap;
    }

    nav li{
        flex: 1 1 50%;
    }
}
@media (orientation: portrait) and (max-width:576px){
    #gallery{
        background-color: rgba(0,0,0,0,1);
        display: grid;
        height: auto;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: auto;
        grid-gap: 1rem ;
    }
    span{
        flex-direction: column;
        text-align: center;
    }
    html{
        font-size: 110%
    }
    nav li{
        flex-basis:120%;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    nav ul{
        flex-wrap: wrap;
    }

    nav li{
        flex: 1 1 50%;
    }
}