div{
    margin: 5px;
    border: 0px solid #ccc;
    float: right;
    width: 250px;
}
h1{
    font-family: 'Monotype Corsiva';
    color: 	#000066;
    
}
h2{
    font-family: 'Monotype Corsiva';
    color: #000066;
    
}
h6{
    font-family: 'Monotype Corsiva';
    color: #000066;
    
}
ul{
    font-family: 'Monotype Corsiva';
    color: #000066;
}
li{
    font-family: 'Monotype Corsiva';
    color: #000066;
    
}
th{
    font-family: 'Courier';
    color: 	#000066;
    
}
p{
    font-family: 'Monotype Corsiva';
    color: 	#000066;
}
hr {
    border: 3;
    border-bottom: 2px solid;
    background:red;
}
body{
    border: 0px solid black;
    background-color: #EEFF66 ;
    border-radius: 10px;
    padding: 10px;
    border-style: groove;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}
img {
    margin-left: 120px;
}

.oldal-kep {
    height: 100px;
    position: absolute;
    margin-left: 500px;
    margin-top: -100px;
}